@import '../../scss/colors';
@import '../../scss/variables';

div.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

div.top-bar {
  display: flex;
  padding: 0.8rem 1rem;
  position: fixed;
  z-index: 100;
  width: 100%;

  .icon-back {
    font-size: 1.6em;
  }

  .icon-menu {
    font-size: 1.6em;
  }

  .icon-like {
    font-size: 1.6em;
    margin-left: auto;
    margin-right: 1.5rem;
  }

  .album-name {
    align-self: center;
    font-weight: 600;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

div.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;

  img.main-image {
    width: 12rem;
    height: 12rem;
  }

  span.album-name {
    font-weight: 600;
    font-size: 1.4em;
    margin-top: 1.5rem;
    text-align: center;
  }

  span.owner {
    font-size: 0.8em;
    margin-top: 0.5rem;
    font-weight: 600;
    color: $font-color-secondary;
  }

  button.btn-random {
    margin-top: 1rem;
  }
}

div.text-info.no-image {
  margin-left: 0;
}

div.details {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 0.5rem;
  padding-bottom: 1rem;

  span.details-text {
    font-weight: 500;
  }
}

div.artists {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
