<div class="wrapper" [style.background-image]="'linear-gradient(160deg, ' + backgroundColor + ' 0%, #111111 15rem)'">
    <div class="top-bar" appStatusBarDivider margin="0.8">
        <fa-icon class="icon-back" [icon]="faArrowLeft" (click)="onBackClick()"></fa-icon>
    </div>

    <ng-container *ngIf="category">
        <span class="title" appStatusBarDivider appFitText>{{category.name}}</span>
    </ng-container>

    <ng-container *ngIf="featuredPlaylists">
        <div class="playlists">
            <div class="playlist" *ngFor="let playlist of featuredPlaylists.playlists.items" (click)="onItemClick(playlist)">
                <img appDefaultImage errorImage="assets/img/empty2.png" [lazyLoad]="playlist.images | image:mainImageSize" alt="">
                <span class="name">{{playlist.name}}</span>
            </div>
        </div>
    </ng-container>
</div>
